

.sidemenu{

	margin-top: -110px;
}
#sidediv{
	margin-top: 910px;
}

#foter1{

	margin-top: 1500px;
}
#foter2{

	margin-top: 1500px;
}
#foter3{

	margin-top: 1500px;
}

#footer{
	margin-top:1800px; 

}

#page_name{
	position: absolute;
	height: 20px;
	width: 700px;
	 margin-left: 650px;
	 margin-top: -830px;
	 text-decoration: underline;
	}


